/* The code below centers the text of all h1's on the page. */
h1 {
    text-align:center;
}

.header h2{
    text-align:center;
    width:100%;
}

h1,h2,p,h3,h4,h5,h6{
    color:white;
}

.body-text{
    color:black;
    font-size:25px;
}
#graduation{
    border-radius:10px;
    border:5px solid rgb(174, 174, 235);
}
.body-item{
    /*border:solid; */
    width:25%;
}

#body-one h4{
 margin:10px;
 /*border:solid; */
}

#body-two{
    background-color: rgba(131, 175, 211, 0.567);
}

#body-three{
    background-color: rgba(211, 120, 120, 0.767);
}

#body-one{
    background-color: rgba(203, 228, 158, 0.767);
}

#body-four{
    background-color: rgba(103, 233, 17, 0.664);
}

#body-one, #body-two, #body-three, #body-four{
    width:98.4%;
    display:flex;
    justify-content: space-between;
    border-radius:10px;
    padding:10px;
    margin:0px;
}


.image-cont img{
    width:86%;
}

#body-one .list-stats, #body-two .list-stats, #body-three .list-stats, #body-four .list-stats{
    color:black;
   /* border:solid; */
    width:65%;
    justify-content: flex-start;
    margin-top:25px;
    line-height:55px;
    font-size: 20px;
}


/* The code below centers all images on the page and gives them a width of 400px. */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:auto;
}
.header{
    background:rgba(10, 10, 26, 0.521);
    border-radius: 15px;
    padding-bottom: 15px;
}

/* The code below centers the text of all h2's on the page. */

body{
    background-image: url(https://burst.shopifycdn.com/photos/grad-cap-diploma-and-stacked-books.jpg?width=1000&format=pjpg&exif=0&iptc=0);
    background-repeat: no-repeat;
    background-size:cover;
}


/* The code below aligns all the sections horizontally on the bottom. */
/*.section-container {*/
    /*display:flex; */
    /*justify-content:space-between; } */

/* The code below a solid black border to section and puts space between them (the margin). */
